body{
    background-color: lightgrey;
    margin: 0px;
}
.first{
    background-color: rgb(20, 20, 20);
    max-width: 100%;
    height: 70px;
    margin-top: -11px;
    position: sticky;
    top: 0px;
}
.first >  ul > li:hover{
    border: 1px solid white;
}
.search{
    width: 70px;
    height: 40px;
    padding: 0%;
    margin-left: -7px;
    background-color: lightgrey;
    border-radius: 10px 5px 5px 10px;
}
.searc{
    width: 440px;
    height: 40px;
    padding: 0%;
    margin-left: -7px;
}
.searchicon{
    max-width: max-content;
    padding: 0%;
    margin-left: 500px;
    margin-top: -40px;
}
.nav1{
    margin-left: 10px;
}
.second{
    width: 100%;
    height: 50px;
    margin-top: 0% ;
}
.snav,li{
    display: inline-block;
    margin-left: 15px;
    padding-left: 6px;
    list-style-type: none;
    color: white;
}
.snav > li:hover{
    border: 1px solid white;
}
#back{
    background-image: url('https://m.media-amazon.com/images/I/619rl+QqjwL._SX3000_.jpg');
    background-repeat: no-repeat;
    background-size: 100%;   
}
#imgs{
    width: 310px;
    height: 490px;
    background-color: white;
    margin-left: 10px;
}
.image,img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 0px;
    
}
.image img{
    padding: 9px;
    margin-top: -10px;
}
.image p{
    padding-left: 10px;
    margin: 0px;

}
a{
    text-decoration: none;
    color: black;
}
.flexe{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-flow: wrap;
    padding-bottom: 20px;
    box-sizing: border-box;
}
#sign{
    width: 300px;
    height: 490px;
    background-color: white;
}
.thirdrow{
     width: 98%;
     height: 340px;
     background-color: white;
     margin-top: 10px;
     margin-bottom: 20px;
}
.image1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.container{
    background-color: white;
    width: 100%;
    height: 100%;
}
.recent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}
.flowt{
    max-width: max-content;
    max-height: max-content;
    padding-left: 20px;
}
.main{
    width: 160px;
    height: auto;
}
.back{
    background-color: #2c2a2a;
    width: 100%;
    height: 30px;
    margin-top: 30px;
    padding-top: 20px;
}
.details{
    background-color: rgb(20, 20, 20);
    color: white;
    display: flex;
}
.de{
    padding-left: 90px;
}
.de > a{
    color: white;
}
.de > a:hover{
    color: red;
    text-decoration: underline;
}