
.title{
    display: inline-block;
    margin: 0px 85px;
    z-index: 0;
    background-color: rgb(254, 255, 255);
}
/*.title{
    position: sticky;
    top: 0px;
}*/
#logo{
    margin-top: -20px;
    object-fit: contain;
   /* border: 1px solid black;*/
}
#searchbar{
    width: 49%;
    height: 30px;
    margin-top: -69px;
    vertical-align: middle;
}
#logoicon{
    margin-top: -69px;
    margin-left: -5px;
    vertical-align: middle;
}
#bsicon{
    object-fit: contain;
    margin-left:0px;
}
#cart{
    background-color: rgb(248, 250, 252);
    float: right;
    max-width: max-content;
    height: auto;
    margin-top: 20px;
    margin-right: 100px;
}
#items{
    margin-top: -55px;
    margin-left: 68px;
}
#msg{
    display: none;
    font-size: 120%;
    font-weight: bold;
    background-color: rgb(248, 250, 252);
    border: 3px solid rgb(137, 137, 138);
    margin-top: -20px;
    text-align: center;
    padding: 20px 0px;
    margin-left: 600px;
   position: absolute;
}
#cart:hover ~ #msg{
    display:block;
    width: 40%; 

}
.nav1{
    background-color: rgb(251, 253, 253);
    margin-top: -18px;
    box-shadow: 1px 1px 1px 3px rgb(247, 246, 246);
}
.nav1 #Allse{
    width: 15%;
    height: 40px;
}
ul{
    list-style-type: none;

}
 .nav1 #l1{
    padding: 10px;
    background-color: rgb(189, 243, 109);
    max-width: max-content;
    margin-left: -38px;
    margin-bottom: -25px;
    
}
.nav1 #l1:hover{
    background-color: green;
    color: white;
}
.li1 > #l1,#l2{
    display: inline-block;
    padding: 10px;
}
.li1 #l2:hover{
    background-color: green;
    font-weight: bold;
    color: white;
}
.li1 .li2{
    display: none;
}
.nav1 .li1 li:hover .li2{
    display:block;
    width: 90%;
    position: absolute;
    border-bottom: 1px solid black;
    line-height: 30px;
    padding-left:0px ;
    margin-left: -12px;
    margin-bottom: -10px;
    margin-top: 10px;
    background-color: rgb(250, 247, 247);
    color: rgb(122, 122, 122);
    box-shadow: 0px 1px 1px 2px rgb(224, 224, 224);
    
}
.li1 .li2  li:hover{
     background-color: aliceblue;
     position:relative;
     background-color: white;
     color: black;
}
.li2 .frl,.li2 .frl .frl2,.frl #herb .herbs{
    display: none;
}
.li2  li:hover .frl{
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 40%;
    margin-left: 130px ;
    background-color: white;
    color: rgb(122, 122, 122);
}
.li2 .frl li:hover .frl2,.frl #herb:hover .herbs{
    display:inline-block;
    position: absolute;
    z-index: 1;
    margin-left: 130px ;
    width: 100%;
    padding-left:-20px;
    background-color: white;
    color: rgb(122, 122, 122);
    text-align: left;
}
.li2 .frl .frl2 li:hover,.frl #herb .herbs li:hover{
    color: rgb(11, 250, 11);
}
.title2,.a2{
    display: inline-block;
    position: relative;
    margin: 0px 85px;
    z-index: -1;
    padding: 30px 0px;
    background-color: rgb(254, 255, 255);
}
 .title2 #shopnow{
    text-align: center;
    background-color: rgb(6, 228, 6);
    color: white;
    font-style: oblique;
    font-weight: bolder;
    width: 100px;
    margin-top: -50px;
    float: right;
    border-radius: 10px;
    height: 30px;
} 
.a2{
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;
    margin: 0px 85px;
    gap: 38px;
}
div .it1:hover{
    box-shadow: 0px 0px 2px 1px lightslategrey;
}
.it1{
    width: 200px;
    box-shadow: 1px 1px 2px 2px rgb(224, 224, 224);
    height: auto;
    position: relative;
    /*margin: -40px -50px;*/
}
.it1 .its1{
    object-fit: contain;
    text-align: center;
}
#its2{
    padding: 10px;
    margin-top: -25px;
}
.det{
    margin-left: 20px;
    margin-top: -26px;
}
.cont #c1{
    font-size:11px;
    font-family: 'Segoe UI';
}
#bu1{
    width: 100px;
    height: 30px;
    background-color: rgb(250, 188, 73);
    border-radius: 5px;
    margin-top: -100px;
    margin-left: 60px;
}
.a3{
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;
    margin: 0px 85px;
    gap: 25px;
}
.boimg{
    gap: 15px;
    box-shadow: 1px 1px 2px 2px rgb(224, 224, 224);
    margin-top: 20px;
}
.boimg img{
    object-fit: contain;
}
.boimg:hover{
    box-shadow: 1px 1px 2px 1px rgb(83, 83, 83);
}
#shopnow1{
    text-align: center;
    background-color: rgb(6, 228, 6);
    color: white;
    font-style: oblique;
    font-weight: bolder;
    width: 100px;
    margin-top: -50px;
    float: right;
    border-radius: 10px;
    height: 30px;
}
.txt{
    margin: 10px 95px;
    
    
}
.a5,.a6,.a7{
    display: flex;
    gap: 25px;
}
.a7 .boimg img{
     object-fit:  contain;
}
.a8,.a9{
    margin: 30px 0px;
    box-shadow: 1px 1px 2px 2px rgb(224, 224, 224);
}
.a9{
    font-family: sans-serif;
    font-size: 14px;
    background-color: whitesmoke;
    line-height: 22px;
    font-weight: 20%;
    padding: 20px;
}
.a10 table{
    width: 100%;
    padding: 10px;
}
td{
    padding-bottom: 10px;
    color: rgb(122, 122, 122);
}